@import url('https://fonts.googleapis.com/css2?family=Bungee+Tint&family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lunasima:wght@400;700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Pacifico&family=Playwrite+DE+VA+Guides&family=Playwrite+NO:wght@100..400&family=Playwrite+NZ+Guides&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Yuji+Mai&display=swap');

body {
  font-family: "Host Grotesk", sans-serif;
  font-optical-sizing: auto;
      margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
}
:root {
  --primary-color: #4CAF50;
  --span-back:#c6d3c6;
  --bg:#f3f3f3;
}
#root {
  width: 100%;

}

.margin-auto {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home {
  display: grid;
  grid-template-columns: 1fr 5fr;

}