.showcase {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    min-height: 400px;
    align-items: center;
    background-image: url("./background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.showcase::after {
  content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -43%;
    height: 30px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    mask-image: linear-gradient(to bottom, black 40%, transparent 100%)
}


.home {
    background-color: var(--bg);
}


.showcase-bg {
    width: 30%;
    height: 300px;
    overflow: hidden;
}

.showcase-bg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.showcase-bg img {
  width: 400px;
  mask-image: radial-gradient(
    ellipse at center,
    black 60%,
    transparent 100%
  );
  -webkit-mask-image: radial-gradient(
    ellipse at center,
    black 60%,
    transparent 100%
  );
}




.image-wrapper::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to bottom,
    transparent 60%,
    #f5f5f5 100%
  );
}

.showcase-text {
    width: 40%;
}

.showcase-text h1 {
    font-size: 2.5rem;
    margin: 2px;
    display: flex;
    flex-direction: column;
}

#free {
        display: block;
    color: green;
    background: lightgreen;
    width: 88px;
    text-align: center;
    padding: 2px;
    border-radius: 15px;
    font-size: 12px;
    cursor: pointer;
}

.buttons {
    display: flex;
    gap: 20px;
}

/* shop by category  */

.category-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}

.category {
    overflow: hidden;
}

.view {
    display: block;
    color: green;
    text-align: center;
    padding: 2px;
    border-radius: 15px;
    font-size: 13px;
    cursor: pointer;
    width:75px;
}

.view:hover {
    background: lightgreen;
    transition: 0.3s ease-in-out;
}

.category-item {
        display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    cursor: pointer;
}

.category-item span {
    padding: 5px 10px;
    border-radius: 15px;
    font-weight: bold;
}

.category-item img {
    width: 115px;
    height: 120px;
    object-fit: cover;
}

.category-list {
    display: flex;
    padding: 0 15px;
    gap: 60px;
    overflow-x: scroll;
}

.category-list::-webkit-scrollbar{
    width: 0;
}

.flex {
    display: flex;
    gap: 10px;
}
