.auth {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 300px;
    height: auto;
    border-radius: 10px;
box-shadow: 1px 0px 12px 2px rgba(165,151,151,0.88);
-webkit-box-shadow: 1px 0px 12px 2px rgba(165,151,151,0.88);
-moz-box-shadow: 1px 0px 12px 2px rgba(165,151,151,0.88);
padding: 10px;
}

.auth-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}   

.auth-logo {
    width: inherit;
    position: relative;
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 5px;
}

.auth-logo .heading {
    font-size: 24px;
    font-weight: bold;
    margin: auto;
    letter-spacing: 1px;
}

.auth-logo .subheading {
    font-size: 14px;
    margin: auto;
    color: gray;
}
.auth-logo span {
    margin: auto;
}

.auth-logo img {
    width: 40px;
    margin: auto;
}


/* Login section */

.login {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.auth-input {
    padding: 8px;
    border-radius: 5px;
    gap: 5px;
    justify-content: center;
    font-size: 14px;
    flex-direction: column;
    display: flex;
}

.auth-input label {
    font-size: 12px;
    margin-bottom: 5px;
}

.auth-input input {
    padding: 8px;
    font-size: 14px;
    outline: none;
    position: relative;
    width: 80%;
    border: none;
}

#input-data {
    height: 35spx;
    border: 1px solid gray;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 3px;
    border-radius: 5px;
}

#input-logo {
    width: 22px;
    opacity: 0.7;
}

.line {
    width: 100%;
    height: 1px;
    color: gray;
    position: relative;
    background-color: gray;
    margin: 10px 0;
}

.more {
    font-size: 12px;
    color: gray;
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: center;
}

.more p {
    margin: auto;
}

.more .link {
    color: green;
}
.more .link:hover {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}