.nav {
    color: black;
    /* width: 100%; */
    padding: 0 10px;
    height: 60px;
    border-bottom: 1px solid gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    color: black;
    width: 100%;
    /* padding: 0 10px; */
    height: 60px;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}
.brand {
    display: flex;
    gap: 3px;
    align-items: center;
    cursor: pointer;
}

.acc-info {
    display: flex;
    gap: 6px;
}

.acc-info span {
    padding: 4px;
    height: 25px;
    border-radius: 41%;
    cursor: pointer;
}

.acc-info span:hover {
    background-color: var(--span-back);
    transition: 0.3s ease-in-out;
    color: green;
}

.nav-items {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 0;
    width: 60%;
    align-items: center;
    margin: auto;
}

.nav-items,.items {
        display: flex;
    gap: 13px;
}


.search-bar {
    color: green;
        display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 60%;
    border-radius: 15px;
    background-color: var(--span-back);
}

.search-bar input {
    color: green;
    background-color: var(--span-back);
    width: 85%;
    height: 30px;
    border-radius: 15px;
    padding-left: 10px;
    border: none;
    outline: none;
}   

.items>span {
        font-size: 15px;
    font-weight: bolder;
    padding: 3px;
    border-radius: 20px;
    width: 47px;
    text-align: center;
}

.items>span a {
    text-decoration: none;
    color: black;
}

.items>span a:hover {
    cursor: pointer;
    transition: 0.3s ease-in-out;
    color: green;
}